.calculator {
    width: 25vw;
    height: 70vh;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(65, 40, 88, 0.616);
}

#display {
    height: 6%;
    width: 80%;
    margin: 20px 0px 20px 25px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    background-color: rgba(255, 228, 196, 0.534);
    cursor: default;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 350px;
    width: 280px;
    margin-left: 25px;
}

.calculator button {
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

#nums {
    background-color: rgba(219, 202, 202, 0.562);
}

#sym {
    background-color: rgba(221, 150, 18, 0.733);
}

#sol {
    background-color: rgba(21, 131, 21, 0.726);
}

#clr {
    background-color: rgba(172, 31, 31, 0.74);
}